@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

.app {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Pages */
.home .content, 
.about .content, 
.services .content,
.contact .content {
    animation-name: fade-in;
    animation-duration: 1s;
    height: 70vh;
}

.projects .content {
    min-height: 70vh;
    animation-name: fade-in;
    animation-duration: 1s;
}

.about .content img {
    height: 40vh;
}

.services .content h1 {
    transition: font-size 0.5s;
    cursor: pointer;
}

.services .service-content div {
    animation-name: fade-in;
    animation-duration: 1s; 
}

.services .content .service-content img {
    height: 45vh;
}

#express-icon,
#mongo-icon {
    height: 1em;
}

.projects {
    position: relative;
    z-index: 0;
}

.project-modal {
    position: absolute;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background: rgba(60,60,60, 0.9);
    animation-name: fade-in;
    animation-duration: 0.8s;
}

.project-modal i {
    cursor: pointer;
}

.projects .overlay {
    position: absolute;
    z-index: 3;
    background: rgba(60,60,60, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    cursor: pointer;
}

.projects .overlay:hover {
    opacity: 1;
}


.projects .image-container {
    position: relative;
    background: transparent;
    z-index: 2;
}

#message {
    height: 15vh;
    resize: none;
}

/* Components */
.navbar {
    height: 20vh;
}

.navbar img {
    height: 7vh;
}

.navbar i {
    cursor: pointer;
}

.footer {
    height: 10vh;
    position: relative;
    bottom: 0;
}

.sidebar {
    top: 0;
    transition: left 0.5s ease-in;
    height: 100vh;
    z-index: 10;
    width: 100vw;
}

.sidebar .exit-container {
    height: 20vh;
}

@media (max-width: 992px) {
    .home .content, 
    .about .content, 
    .services .content,
    .contact .content {
        height: auto;
        min-height: 70vh; 
    }

    .about .content img {
        height: auto
    }
}